<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LimeTable</title>
</head>
<body>
    <form action="/vp/schuelogin" method="post">
        <input type="text" name="username" placeholder="Benutzername"><br>
        <input type="password" name="password" placeholder="Passwort"><br>
        <input type="number" name="scident" placeholder="Schulnummer">
        <input type="submit" value="Login">
    </form>
</body>
</html>